@import "login.css";
@import "register.css";
@import "personal.css";

* {
    box-sizing: border-box;
}
#main {
    min-height: 600px;
    width: 100%;
}
.img {

   width: 100px;
    height: 30px;}


.img-div{
    background-repeat: no-repeat;
    background-image: url("../logos/300-200-bw.svg");
    width: 120px;
    height: 50px;
}

@media only screen and (max-width: 375px) {
    #main{
       min-height: 1580px;

    }
}

